
USE [mun_db]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergy]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[AllergyID] [int] IDENTITY(1,1) NOT NULL,
	[AllergyType] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AllergyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[ChildID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Child_Allergy]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child_Allergy](
	[ChildID] [int] NOT NULL,
	[AllergyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC,
	[AllergyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ItemCategory] [nvarchar](100) NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[Calories] [int] NULL,
	[Protein_g] [decimal](6, 2) NULL,
	[Fat_g] [decimal](6, 2) NULL,
	[Carbs_g] [decimal](6, 2) NULL,
	[Sugar_g] [decimal](6, 2) NULL,
	[Sodium_mg] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Allergy]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Allergy](
	[ItemID] [int] NOT NULL,
	[AllergyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[AllergyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPackage]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPackage](
	[MealPackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](100) NOT NULL,
	[PackageDescription] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[MealsPerDay] [int] NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MealPackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[ChildID] [int] NOT NULL,
	[PackageID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[DeliveryStatus] [nvarchar](50) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NULL,
	[PreMadeMealID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[JoinedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreMadeMeal]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreMadeMeal](
	[PreMadeMealID] [int] IDENTITY(1,1) NOT NULL,
	[MealName] [nvarchar](100) NOT NULL,
	[MealDescription] [nvarchar](255) NULL,
	[FixedPrice] [decimal](10, 2) NULL,
	[IsAvailable] [bit] NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PreMadeMealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreMadeMeal_Item]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreMadeMeal_Item](
	[PreMadeMealID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreMadeMealID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[RatingStars] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[RatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedMeal]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedMeal](
	[SavedMealID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[ChildID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedMealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedMeal_Item]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedMeal_Item](
	[SavedMealID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedMealID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/4/2025 1:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [UserID], [FirstName], [LastName], [Email], [Password]) VALUES (4, 9, N'Reef', N'Alsinani', N'reef.alsinani@munchies.sa', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Allergy] ON 

INSERT [dbo].[Allergy] ([AllergyID], [AllergyType]) VALUES (1, N'Peanuts')
INSERT [dbo].[Allergy] ([AllergyID], [AllergyType]) VALUES (2, N'Tree Nuts')
INSERT [dbo].[Allergy] ([AllergyID], [AllergyType]) VALUES (3, N'Milk')
SET IDENTITY_INSERT [dbo].[Allergy] OFF
GO
SET IDENTITY_INSERT [dbo].[Child] ON 

INSERT [dbo].[Child] ([ChildID], [ParentID], [Name], [DateOfBirth]) VALUES (1, 1, N'Lama Altoaimi', CAST(N'2015-05-12' AS Date))
INSERT [dbo].[Child] ([ChildID], [ParentID], [Name], [DateOfBirth]) VALUES (2, 1, N'Lina Alhumaid', CAST(N'2017-09-21' AS Date))
INSERT [dbo].[Child] ([ChildID], [ParentID], [Name], [DateOfBirth]) VALUES (3, 1, N'Aljwhara Alsaqer', CAST(N'2020-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[Child] OFF
GO
INSERT [dbo].[Child_Allergy] ([ChildID], [AllergyID]) VALUES (1, 1)
INSERT [dbo].[Child_Allergy] ([ChildID], [AllergyID]) VALUES (1, 3)
INSERT [dbo].[Child_Allergy] ([ChildID], [AllergyID]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([ItemID], [Name], [Description], [ItemCategory], [UnitPrice], [Calories], [Protein_g], [Fat_g], [Carbs_g], [Sugar_g], [Sodium_mg]) VALUES (1, N'Grilled Chicken Breast', N'Juicy grilled chicken seasoned with Arabic spices.', N'Protein', CAST(18.00 AS Decimal(10, 2)), 250, CAST(30.00 AS Decimal(6, 2)), CAST(8.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(520.00 AS Decimal(6, 2)))
INSERT [dbo].[Item] ([ItemID], [Name], [Description], [ItemCategory], [UnitPrice], [Calories], [Protein_g], [Fat_g], [Carbs_g], [Sugar_g], [Sodium_mg]) VALUES (2, N'Steamed Rice', N'White jasmine rice steamed to perfection.', N'Carbohydrate', CAST(8.00 AS Decimal(10, 2)), 200, CAST(4.00 AS Decimal(6, 2)), CAST(1.00 AS Decimal(6, 2)), CAST(44.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(5.00 AS Decimal(6, 2)))
INSERT [dbo].[Item] ([ItemID], [Name], [Description], [ItemCategory], [UnitPrice], [Calories], [Protein_g], [Fat_g], [Carbs_g], [Sugar_g], [Sodium_mg]) VALUES (3, N'Mixed Salad', N'Fresh lettuce, cucumber, tomato with olive oil dressing.', N'Vegetable', CAST(10.00 AS Decimal(10, 2)), 120, CAST(3.00 AS Decimal(6, 2)), CAST(6.00 AS Decimal(6, 2)), CAST(12.00 AS Decimal(6, 2)), CAST(4.00 AS Decimal(6, 2)), CAST(70.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
INSERT [dbo].[Item_Allergy] ([ItemID], [AllergyID]) VALUES (1, 3)
INSERT [dbo].[Item_Allergy] ([ItemID], [AllergyID]) VALUES (1, 5)
INSERT [dbo].[Item_Allergy] ([ItemID], [AllergyID]) VALUES (2, 9)
GO
SET IDENTITY_INSERT [dbo].[MealPackage] ON 

INSERT [dbo].[MealPackage] ([MealPackageID], [PackageName], [PackageDescription], [Price], [MealsPerDay], [DiscountPercent]) VALUES (1, N'Starter Plan', N'1 healthy meal per day — perfect for light eaters or first-time users.', CAST(180.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[MealPackage] ([MealPackageID], [PackageName], [PackageDescription], [Price], [MealsPerDay], [DiscountPercent]) VALUES (2, N'Family Duo', N'2 meals per day — ideal for small families or lunch and dinner combos.', CAST(340.00 AS Decimal(10, 2)), 2, CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[MealPackage] ([MealPackageID], [PackageName], [PackageDescription], [Price], [MealsPerDay], [DiscountPercent]) VALUES (3, N'Active Plan', N'3 balanced meals per day designed for active individuals.', CAST(480.00 AS Decimal(10, 2)), 3, CAST(7.50 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[MealPackage] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [ParentID], [ChildID], [PackageID], [OrderDate], [DeliveryDate], [DeliveryStatus], [TotalAmount]) VALUES (5, 1, 1, 1, CAST(N'2025-09-26T22:59:28.727' AS DateTime), CAST(N'2025-09-28T22:59:28.727' AS DateTime), N'Delivered', CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([OrderID], [ParentID], [ChildID], [PackageID], [OrderDate], [DeliveryDate], [DeliveryStatus], [TotalAmount]) VALUES (6, 1, 2, 1, CAST(N'2025-10-01T22:59:28.727' AS DateTime), CAST(N'2025-10-03T22:59:28.727' AS DateTime), N'Delivered', CAST(340.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([OrderID], [ParentID], [ChildID], [PackageID], [OrderDate], [DeliveryDate], [DeliveryStatus], [TotalAmount]) VALUES (7, 1, 3, 1, CAST(N'2025-10-04T22:59:28.727' AS DateTime), NULL, N'Pending', CAST(480.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Item] ON 

INSERT [dbo].[Order_Item] ([OrderItemID], [OrderID], [ItemID], [PreMadeMealID], [Quantity]) VALUES (2, 5, NULL, 1, 1)
INSERT [dbo].[Order_Item] ([OrderItemID], [OrderID], [ItemID], [PreMadeMealID], [Quantity]) VALUES (3, 6, NULL, 3, 1)
INSERT [dbo].[Order_Item] ([OrderItemID], [OrderID], [ItemID], [PreMadeMealID], [Quantity]) VALUES (4, 7, NULL, 5, 2)
SET IDENTITY_INSERT [dbo].[Order_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentID], [UserID], [FirstName], [LastName], [Email], [PhoneNumber], [DeliveryAddress], [Password], [JoinedAt]) VALUES (1, 10, N'Maked', N'Alsinani', N'make1@munchies.sa', N'0501234567', N'Riyadh, Saudi Arabia', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', CAST(N'2025-10-06T22:45:14.743' AS DateTime))
INSERT [dbo].[Parent] ([ParentID], [UserID], [FirstName], [LastName], [Email], [PhoneNumber], [DeliveryAddress], [Password], [JoinedAt]) VALUES (2, 11, N'Make', N'Aldossari', N'make2@munchies.sa', N'0509876543', N'Dammam, Saudi Arabia', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', CAST(N'2025-10-06T22:45:14.747' AS DateTime))
INSERT [dbo].[Parent] ([ParentID], [UserID], [FirstName], [LastName], [Email], [PhoneNumber], [DeliveryAddress], [Password], [JoinedAt]) VALUES (5, 17, N'Logan', N'Stephens', N'gotybasosssw@mailinator.com', N'0566193395', N'asd, Medina, asdasd', N'$2y$10$2zKytmZtnS0pRqrQBpU/we7pLYUZ5AkgEb9Fvh5VzdZvxwZi86542', CAST(N'2025-10-07T00:33:13.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (2, 5, CAST(180.00 AS Decimal(10, 2)), CAST(N'2025-09-28T23:27:34.620' AS DateTime), N'Credit Card', N'Paid')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (3, 6, CAST(340.00 AS Decimal(10, 2)), CAST(N'2025-10-03T23:27:34.620' AS DateTime), N'Apple Pay', N'Paid')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (4, 7, CAST(480.00 AS Decimal(10, 2)), CAST(N'2025-10-05T23:27:34.620' AS DateTime), N'Credit Card', N'Pending')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PreMadeMeal] ON 

INSERT [dbo].[PreMadeMeal] ([PreMadeMealID], [MealName], [MealDescription], [FixedPrice], [IsAvailable], [ImageURL]) VALUES (1, N'Healthy Combo', N'Grilled chicken breast served with steamed rice and mixed salad — a light and protein-packed meal.', CAST(35.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[PreMadeMeal] ([PreMadeMealID], [MealName], [MealDescription], [FixedPrice], [IsAvailable], [ImageURL]) VALUES (2, N'Ocean Delight', N'Oven-baked salmon with mashed potatoes — a rich omega-3 lunch option.', CAST(38.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[PreMadeMeal] ([PreMadeMealID], [MealName], [MealDescription], [FixedPrice], [IsAvailable], [ImageURL]) VALUES (3, N'Classic Kids Meal', N'Pasta Alfredo with a fresh fruit cup — creamy, sweet, and kid-friendly.', CAST(32.00 AS Decimal(10, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[PreMadeMeal] OFF
GO
INSERT [dbo].[PreMadeMeal_Item] ([PreMadeMealID], [ItemID]) VALUES (1, 1)
INSERT [dbo].[PreMadeMeal_Item] ([PreMadeMealID], [ItemID]) VALUES (1, 2)
INSERT [dbo].[PreMadeMeal_Item] ([PreMadeMealID], [ItemID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingID], [OrderID], [RatingStars], [Comment], [RatedAt]) VALUES (1, 5, 5, N'Delicious and healthy meal!', CAST(N'2025-09-29T23:26:46.037' AS DateTime))
INSERT [dbo].[Rating] ([RatingID], [OrderID], [RatingStars], [Comment], [RatedAt]) VALUES (2, 7, 4, N'Fresh and tasty, but slightly delayed delivery.', CAST(N'2025-09-27T23:26:46.037' AS DateTime))
INSERT [dbo].[Rating] ([RatingID], [OrderID], [RatingStars], [Comment], [RatedAt]) VALUES (3, 5, 1, NULL, CAST(N'2025-10-07T01:35:58.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedMeal] ON 

INSERT [dbo].[SavedMeal] ([SavedMealID], [ParentID], [ChildID], [Name]) VALUES (2, 1, 3, N'وجبه فطار')
INSERT [dbo].[SavedMeal] ([SavedMealID], [ParentID], [ChildID], [Name]) VALUES (3, 1, 3, N'Baxter Hunt')
SET IDENTITY_INSERT [dbo].[SavedMeal] OFF
GO
INSERT [dbo].[SavedMeal_Item] ([SavedMealID], [ItemID]) VALUES (2, 1)
INSERT [dbo].[SavedMeal_Item] ([SavedMealID], [ItemID]) VALUES (2, 8)
INSERT [dbo].[SavedMeal_Item] ([SavedMealID], [ItemID]) VALUES (2, 9)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [UpdatedAt]) VALUES (9, N'Reef Alsinani', N'reef.alsinani@munchies.sa', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Admin', CAST(N'2025-10-06T22:45:14.740' AS DateTime), NULL)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [UpdatedAt]) VALUES (10, N'Maked Alsinani', N'make1@munchies.sa', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Parent', CAST(N'2025-10-06T22:45:14.740' AS DateTime), NULL)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [UpdatedAt]) VALUES (11, N'Make Aldossari', N'make2@munchies.sa', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Parent', CAST(N'2025-10-06T22:45:14.740' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__A9D1053433A90047]    Script Date: 11/4/2025 1:21:29 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parent__A9D10534A6045735]    Script Date: 11/4/2025 1:21:29 PM ******/
ALTER TABLE [dbo].[Parent] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534D7D17056]    Script Date: 11/4/2025 1:21:29 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order_Item] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Parent] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[PreMadeMeal] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT (getdate()) FOR [RatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admin]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Child]  WITH NOCHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Child_Allergy]  WITH CHECK ADD FOREIGN KEY([AllergyID])
REFERENCES [dbo].[Allergy] ([AllergyID])
GO
ALTER TABLE [dbo].[Child_Allergy]  WITH CHECK ADD FOREIGN KEY([ChildID])
REFERENCES [dbo].[Child] ([ChildID])
GO
ALTER TABLE [dbo].[Item_Allergy]  WITH CHECK ADD FOREIGN KEY([AllergyID])
REFERENCES [dbo].[Allergy] ([AllergyID])
GO
ALTER TABLE [dbo].[Item_Allergy]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([ChildID])
REFERENCES [dbo].[Child] ([ChildID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([PackageID])
REFERENCES [dbo].[MealPackage] ([MealPackageID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD FOREIGN KEY([PreMadeMealID])
REFERENCES [dbo].[PreMadeMeal] ([PreMadeMealID])
GO
ALTER TABLE [dbo].[Parent]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[PreMadeMeal_Item]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[PreMadeMeal_Item]  WITH CHECK ADD FOREIGN KEY([PreMadeMealID])
REFERENCES [dbo].[PreMadeMeal] ([PreMadeMealID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[SavedMeal]  WITH CHECK ADD FOREIGN KEY([ChildID])
REFERENCES [dbo].[Child] ([ChildID])
GO
ALTER TABLE [dbo].[SavedMeal]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[SavedMeal_Item]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[SavedMeal_Item]  WITH CHECK ADD FOREIGN KEY([SavedMealID])
REFERENCES [dbo].[SavedMeal] ([SavedMealID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD CHECK  (([RatingStars]>=(1) AND [RatingStars]<=(5)))
GO
USE [master]
GO
